@{
    ViewBag.Title = "About";
}

   <!--sectiunea despre începe -->
   <div class="about_section layout_padding">
      <div class="container">
         <h1 class="about_taital">Despre repararea noastră auto</h1>
         <p class="about_text">Este un fapt bine stabilit că un cititor va fi distras de conținutul citibil al unei pagini când se uită la aspectul său. Punctul de u</p>
         <div class="about_section_2 layout_padding">
            <div class="image_2"><img src="../../Content/images/img-2.png"></div>
            <div class="read_bt"><a href="#">Citește mai mult</a></div>
         </div>
      </div>
   </div>
   <!--sectiunea despre se termină -->