@{
    ViewBag.Title = "Contact";
}

<!--sectiunea client începe -->
<div class="client_section layout_padding">
    <div class="container">
        <h1 class="repair_taital">Ce spun clienții noștri</h1>
        <p class="client_text">Există multe variațiuni ale pasajelor Lorem Ipsum disponibile, dar </p>
        <div class="service_section_2 layout_padding">
            <div class="row">
                <div class="col-md-6">
                    <div class="client_box">
                        <p class="dummy_text">Este un fapt bine stabilit că un cititor va fi distras de conținutul citibil al unei pagini când se uită la aspectul său. Punctul de a folosi Lorem Ipsum este că are o distribuție mai mult sau mai puțin normală a literelor, așa cum</p>
                    </div>
                    <div class="down_arrow"><img src="../../Content/images/down-arrow.png"></div>
                    <div class="image_5"><img src="../../Content/images/img-5.png"></div>
                    <h1 class="distribution_text">distribuție</h1>
                    <h3 class="owner_text">Proprietar auto</h3>
                </div>
                <div class="col-md-6">
                    <div class="client_box">
                        <p class="dummy_text">Este un fapt bine stabilit că un cititor va fi distras de conținutul citibil al unei pagini când se uită la aspectul său. Punctul de a folosi Lorem Ipsum este că are o distribuție mai mult sau mai puțin normală a literelor, așa cum</p>
                    </div>
                    <div class="down_arrow"><img src="../../Content/images/down-arrow.png"></div>
                    <div class="image_5"><img src="../../Content/images/img-6.png"></div>
                    <h1 class="distribution_text">distribuție</h1>
                    <h3 class="owner_text">Proprietar auto</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--sectiunea client se termină -->