@{
    ViewBag.Title = "About";
}

<!--sectiunea servicii începe -->
<div class="service_section layout_padding">
    <div class="container">
        <h1 class="about_taital">Serviciul nostru</h1>
        <p class="about_text">conținutul citibil al unei pagini când se uită la aspectul său. Punctul de u</p>
        <div class="service_section_2 layout_padding">
            <div class="row">
                <div class="col-sm-4">
                    <div class="box_main">
                        <div class="icon_1"><img src="../../Content/images/icon-1.png"></div>
                        <h1 class="engine_text">SERVICII PENTRU MOTOR</h1>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box_main_1">
                        <div class="icon_1"><img src="../../Content/images/icon-2.png"></div>
                        <h1 class="engine_text">REPARARE ȘI SERVICE PENTRU FRÂNE</h1>
                    </div>
                    <div class="box_main_1">
                        <div class="icon_1"><img src="../../Content/images/icon-3.png"></div>
                        <h1 class="engine_text">ANVELOPE ȘI ROȚI</h1>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box_main">
                        <div class="icon_1"><img src="../../Content/images/icon-4.png"></div>
                        <h1 class="engine_text">SISTEM DE ECHAPAMENT</h1>
                    </div>
                </div>
            </div>
            <div class="read_bt"><a href="#">Citește mai mult</a></div>
        </div>
    </div>
</div>
<!--sectiunea servicii se termină -->